.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Image and Text */
.helloworld p{
    color: #757575;
}

.helloworld h3+p{
    color: #757575;
    margin-bottom: 50px;
}

#tradition-since-1889{
    padding-bottom: 1rem;
    padding-top: 2rem;
}

#tradition-since-1889 + p{
    font-size: 18px;
    line-height: 27px;
    color: #000;
}
div:has(#tradition-since-1889) p:last-child{
    font-size: 18px;
    line-height: 27px;
}
#about-catering, #tradition-since-1889, #our-menu{
    text-align: center;    
}

.helloworld .columns-wrapper .columns.columns-2-cols > div:first-child{
    margin-bottom: 4rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 4rem;
}

@media(min-width: 992px){
    .helloworld .columns > div {
        align-items: flex-start;
    }
    .hero-wrapper .hero {
        min-height: 632px;
    }
  
    main > .section > div {
        max-width: 1100px;
    }
    .columns > div > .columns-img-col img {
        width: 500px;
        padding: 12px 24px !important;
    }
}

